/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
     background: #d4d9dd url("images/bg03.jpg");
     font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
     color:#d4d9dd;
     font-size: 1.3rem;
}
ul{
     list-style: none;
     padding: 0;
}
h1, h2{
     padding-top: 1rem; /*Putting a little space on the top of our boxes*/
     text-align: center;
}
/**********************************************
/* BASE STYLE HACKS aka MAKING THE CSS BEHAVE in very specific cases.
**********************************************/
.padBottom{
     padding-bottom: 1rem;
}
/********************************************
/* COLORS, BACKGROUNDS, FONTS, AND TEXTURES
*********************************************/
li a{
     color: #5f9fff;
     font-weight: 300;
     font-size: 1.4rem;
}
li:nth-child(2) a{
     color: #00fe6d;
}
.letterheadContainer address{
     color: #000;
     font-style: normal;
     align-self: center;
}
.letterheadContainer address a{
     font-weight: 400;
}
.letterheadContainer address li:nth-child(2) a{
     color: #00c652; /*I think this looks okay on white background without being too drab*/
}
p{
     font-weight: 300;
     line-height: 1.6rem;
}
header {
     background: #fff;
}
nav ul, footer{
     background: #3b4346 url("images/bg01.jpg");
     border-top: solid 1px #272e31;
     border-bottom: solid 1px #272e31;
}
.boxWithShadow{
     background: #353d40 url("images/bg02.jpg");
     box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
     margin-bottom: 2rem;
}
.twoColContainer figcaption{
     color: #5f9fff;
     font-size: 1.2rem;
}
.twoColContainer section+section figcaption, .mailingAddress{
     color: #00fe6d;
}
.officeAddress{
     color: #5f9fff;
}
footer{
     color:#828383;
     text-shadow: -1px -1px 1px rgba(0,0,0,.75);
     text-align: center;
     font-size: 1rem;
}
footer a{
     color:#828383;
     font-weight: 300;
}

/******************************************
/* LAYOUT (That is, making things go in the right place)
/*******************************************/
.letterheadContainer{
     display: flex;
     justify-content: space-evenly;
}
.twoColContainer, .directionsContainer{
     display: flex;
     flex-direction: column;
}
nav ul{
     display: flex;
     justify-content: space-evenly;
}
header li{
     margin-top: 10px;
     margin-bottom: 10px;
}
main > section{
     max-width: 90%;
     margin: auto;
}
p{
     margin: 1.3rem;
}
h3, address li{
     margin-left: 1.3rem;
}
footer p{
     margin: 0.5rem;
}
iframe{
     align-self: center;
     justify-self: center;
     min-height: 450px;
     width: 100%;
     z-index: 1;
}
.mapContainer{
     margin: 5px;
}

/******************************************
/* ADDITIONAL STYLES (Decorations and glam)
/*******************************************/
a, figcaption, h1, h2, h3, p, .mailingAddress, .officeAddress{
     text-shadow: -1px -1px 1px rgba(0,0,0,.75);
}
.letterheadContainer address a{
     text-shadow: none;
}
a:hover{
     text-decoration: none;
}

/******************************************
/* DESKTOP-SPECIFIC STYLES (Making things go in the right place when not on mobile)
/* Also includes an OLD-MOBILE specific style (for the small screens, like my old phone)
/*******************************************/
@media all and (max-width: 512px){
     .letterheadContainer{
          flex-direction: column;
     }
     .letterheadContainer img{
          max-width: 196px; /*TODO: Get a higher resolution image from client*/
          align-self: center;
     }
     li a{
          font-size: 1.2rem;
     }
}
@media all and (min-width: 600px){
     #Directions .twoColContainer{
          flex-direction: row;
          justify-content: space-around;
     }
}
@media all and (min-width: 1000px){
     .twoColContainer, .directionsContainer{
          flex-direction: row;
          justify-content: space-around;
     }
     .twoColContainer > section{
          max-width: 50%;
     }
     .directionsContainer div{
          width: 50%;
     }
}